.header {
  position: sticky;
  top:0;
  width: 100%;
  background-color: var(--red-light);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  z-index: 300;
}
