.menu ul {
  max-width: 800px;
  height: auto;
  background-color: var(--white);
  margin: 100px auto 50px auto;
  padding: 20px;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu button {
  display: inline-block;
  margin-left: 10px;
  border: none;
  background-color: var(--red-light);
  color: var(--white);
  padding: 5px 25px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}